*, *:before, *:after
  box-sizing: border-box
  outline: none
  text-decoration: none

html
  font-size: 14px

body
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem
  overflow-x: hidden
  background: #1D1D1D

img
  max-width: 100%

// /*Убрать полосу прокрутки для всей страницы*/
// ::-webkit-scrollbar 
//   width: 0

.container
  position: relative
  max-width: 1200px
  padding: 0 3rem
  margin: 0 calc(130rem / 14)

.section
  &--full-screen
    width: 100vw
    height: 100vh

.tag
  font-family: 'La Belle Aurore', cursive
  color: #515152
  font-size: 1.3rem
  padding: 5px 0
  &--0
    margin-left: 0
  &--1
    margin-left: 1.4rem
  &--2
    margin-left: 2.8rem



@media screen and ( max-width: 1200px )
  html
    font-size: 12px

